{
	"arrowParens": "avoid",
	"trailingComma": "all",
	"singleQuote": true,
	"useTabs": true,
	"tabWidth": 4,
	"htmlWhitespaceSensitivity": "css",
	"jsxSingleQuote": false,
	"printWidth": 100,
	"endOfLine": "lf",
	"proseWrap": "preserve",
	"quoteProps": "consistent",
	"jsxBracketSameLine": false,
	"semi": true,
	"bracketSpacing": true
}
